body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    color: rgb(39, 39, 39);
}

h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(39, 234, 0);
}

a:hover {
    text-decoration: underline;
}